*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
build
/*/build
.idea
/*/src/test
/*/src/androidTest
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/libs/
app/src/main/res/drawable/
gradle/
library/libs/
library/src/main/res/drawable/
